<!DOCTYPE html>
<html ng-app="DemoApp">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="controller1.js"></script>    
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script>

        // User Profile Details controller
        var ProductController = function ($scope, $rootScope, $location, DemoService) {

            $scope.isDataloaded = false;
            $scope.data = [];

            $scope.viewProducts = function () {
                DemoService.getProducts(
                        function (data, status, headers, config) {
                            //Set the scope's user profile model with the returned data.
                            $scope.data = data;

                            $scope.isDataloaded = true;
                        },
                    function () {
                        $scope.isDataloaded = false;
                    
                        $scope.data = [];
                    });
            };

            $scope.viewProducts();
        };

    </script>
</head>
<body>
    <div ng-controller="DemoController" >

        <div ng-controller="ProductController">

            <div ng-show="isDataloaded">
                Title: <input type="text" ng-model="filter.Title" value=""/>
                Product Code: <input type="text" ng-model="filter.ProductCode" value=""/>
                Description: <input type="text" ng-model="filter.Description" value=""/>
                <hr/>
                <br/>
                <table >
                    <tr>
                        <th>Title</th>
                        <th>Product Code</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Discontinued</th>
                        <th>Unreleased</th>
                    </tr>
                    <tr ng-repeat="item in data | filter:filter | orderBy:'Title'">
                        <td>{{ item.Title }}</td>
                        <td>{{ item.ProductCode }}</td>
                        <td>{{ item.Price }}</td>
                        <td>{{ item.Quantity }}</td>
                        <td>{{ item.Description }}</td>
                        <td>{{ item.Discontinued }}</td>
                        <td>{{ item.Unreleased }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
