<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Local"
		 connectionString="Application Name=Rushmore;Connect Timeout=60;Connection Lifetime=10;Database=eHospital_SysConfig;Server=tcp:DEV01DB01.ehos.tns.ndchealth.com\DEV01ADMIN;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
  <add name="Provider"
		 connectionString="Application Name=Rushmore;Connect Timeout=60;Connection Lifetime=10;Database=eHospital_SysConfig;Server=tcp:DEV01DB01.ehos.tns.ndchealth.com\DEV01ADMIN;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
</connectionStrings>
